/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background: black;
    padding: 20px 0;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-link {
    color: #AA0000;
    font-family: 'Nosifer', cursive;
    font-size: 1rem;
    text-shadow: 0 0 1px black, 0 0 1px #AA0000;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

    .nav-link:hover {
        text-decoration: underline;
        color: #FF3333;
        text-shadow: 0 0 2px black, 0 0 3px #FF3333;
    }

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
    color: #AA0000;
    text-shadow: 1px 1px 2px black,0 0 2px #AA0000;
    margin: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

    .header__left img {
        width: 90px;
        height: 90px;
    }

.header__right {
    display: flex;
    align-items: center;
}

    .header__right img {
        width: 90px;
        height: 90px;
    }

/* Section */
@media screen and (max-width: 1200px) {
    .section__wrap {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: 40px;
    }
}

.section {
    padding: 60px 0;
    background: linear-gradient(135deg, #0b0000 0%, 
    #330011 30%, 
    #660022 60%, 
    #990033 90% 
    );
}

.section__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: start;
    justify-items: center;
}

    .section__wrap img {
        width: 100%;
        max-width: 290px;
        height: auto;
    }

    .section__wrap p {
        font-size: 0.8rem;
        color: grey;
        margin-bottom: 5px;
    }

/* Section Left */
.section__item__left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(180deg, #0b0b0b, #1a0000);
    width: 275px;
    height: 618px;
}

.section__left__upper p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #BBBBBB;
    text-align: center;
}

.section__left__upper h2 {
    color: #FF2222;
    text-shadow: 0 0 2px black, 0 0 3px #FF2222;
    text-align: center;
}

.section__left__text {
    display: flex;
    flex-direction: column;
}

    .section__left__text a {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #FF2222;
        text-shadow: 0 0 2px black, 0 0 3px #FF2222;
        text-decoration: none;
        transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
        display: inline-block;
        padding: 0;
        line-height: 1;
    }

        .section__left__text a:hover {
            color: #FF5555;
            text-shadow: 0 0 3px black, 0 0 5px #FF5555;
            box-shadow: 0 0 5px #AA0000, 0 0 10px #FF3333;
        }

    .section__left__text p {
        font-size: 0.75rem;
        color: #AAAAAA;
        font-style: italic;
        letter-spacing: 1px;
        margin-top: 3px;
        text-align: center;
    }

.section__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sin__icon__red {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
    background-color: #FF2222;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

    button:hover .sin__icon__red {
        transform: scale(1.1) rotate(10deg);
        box-shadow: 0 0 5px #FF5555, 0 0 10px #AA0000;
        transition: transform 0.3s;
    }

/* Section Middle */
.section__item__middle {
    display: flex;
    flex-direction: column;
    gap: 78px;
    background: linear-gradient(180deg, #0f0f0f, #050505);
    width: 275px;
    height: 618px;
}

.section__middle__upper p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #BBBBBB;
    text-align: center;
}

.section__middle__upper h2 {
    color: #EEEEEE;
    text-shadow: 0 0 2px #111111, 0 0 4px #777777;
    text-align: center;
}

.section__middle__text a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #DDDDDD;
    text-shadow: 0 0 2px black, 0 0 3px #AAAAAA;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

    .section__middle__text a:hover {
        color: #FFFFFF;
        text-shadow: 0 0 3px black, 0 0 5px #CCCCCC;
        box-shadow: 0 0 5px #AAAAAA, 0 0 10px #CCCCCC;
    }

.section__middle__text p {
    font-size: 0.75rem;
    color: #AAAAAA;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 3px;
    text-align: center;
}

.sin__icon__grey {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
    background-color: #CCCCCC;
}

    .sin__icon__grey:hover {
        animation: pulseGrey 0.6s ease-in-out infinite alternate;
        box-shadow: 0 0 5px #CCCCCC, 0 0 10px #888888;
    }

@keyframes pulseGrey {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Section Right */
.section__item__right {
    display: flex;
    flex-direction: column;
    gap: 73px;
    background: linear-gradient(180deg, #0b0b0b, #1a1a00);
    width: 275px;
    height: 618px;
}

.section__right__upper p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #BBBBBB;
    text-align: center;
}

.section__right__upper h2 {
    color: #FFFF22;
    text-shadow: 0 0 2px black, 0 0 3px #FFFF66;
    text-align: center;
}

.section__right__text a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFF22;
    text-shadow: 0 0 2px black, 0 0 3px #FFFF22;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

    .section__right__text a:hover {
        color: #FFFF66;
        text-shadow: 0 0 3px black, 0 0 5px #FFFF66;
        box-shadow: 0 0 5px #CCCC00, 0 0 10px #FFFF33;
    }

.section__right__text p {
    font-size: 0.75rem;
    color: #AAAAAA;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 3px;
    text-align: center;
}

.sin__icon__yellow {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
    background-color: #FFFF22;
}

    .sin__icon__yellow:hover {
        transform: scale(1.15) rotate(-10deg);
        box-shadow: 0 0 5px #FFFF66, 0 0 10px #CCCC00;
        transition: transform 0.3s;
    }

/* Section Last - Labubu */
.section__item__last {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #33001a, #660033);
    gap: 30px;
    width: 275px;
    height: 618px;
}

.section__last__upper p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #BBBBBB;
    text-align: center;
}

.section__last__upper h2 {
    color: #FF3399;
    text-shadow: 0 0 2px black, 0 0 3px #FF3399;
    text-align: center;
}

.section__last__text a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF3399;
    text-shadow: 0 0 2px black, 0 0 3px #FF3399;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
    display: inline-block;
    padding: 0;
    line-height: 1;
}

    .section__last__text a:hover {
        color: #FF66CC;
        text-shadow: 0 0 4px black, 0 0 6px #FF66CC;
        box-shadow: 0 0 5px #FF3399, 0 0 10px #FF66CC;
    }

.section__last__text p {
    font-size: 0.75rem;
    color: #AAAAAA;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 3px;
    text-align: center;
}

.sin__icon__pink {
    width: 30px !important;
    height: 30px !important;
    object-fit: contain;
    background-color: #FF3399;
}

    .sin__icon__pink:hover {
        animation: wigglePink 0.6s ease-in-out infinite alternate;
        box-shadow: 0 0 5px #FF3399, 0 0 10px #FF66CC;
    }

@keyframes wigglePink {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(-10deg) scale(1.1);
    }

    50% {
        transform: rotate(10deg) scale(1.1);
    }

    75% {
        transform: rotate(-5deg) scale(1.05);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

/*Services*/
.services {
    padding-top: 15px;
    padding-bottom: 60px;
    background: linear-gradient(180deg, #0f0f0f, #050505);
}

.services__title {
    padding-bottom: 20px;
}

.services__item {
    background: linear-gradient(145deg, #120000, #2b0000);
    border: 1px solid #4a0000;
    border-radius: 10px;
    padding-top: 8px;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffdddd;
}

    .services__item a img {
        width: 69px;
        filter: drop-shadow(0 0 10px #ff1a1a);
        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;
    }

        .services__item a img:hover {
            transform: scale(1.1);
            filter: drop-shadow(0 0 15px #ff4444);
        }

.services__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.services__item:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0px 4px 18px 10px rgba(255, 0, 0, 0.4);
    border-color: #ff1a1a;
}

.services__title h2 {
    color: #FF2222;
    text-shadow: 0 0 2px black, 0 0 3px #FF2222;
    text-align: center;
}

.services__item h2 {
    color: #ff5555;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 15px 0 10px;
    text-shadow: 0 0 2px #200000, 0 0 4px #800000;
}

.services p {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #BBBBBB;
    text-align: center;
}

.services__item button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin-top: 10px;
    background: linear-gradient(145deg, #050000, #0a0000);
    border: 1px solid #4a0000;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

    .services__item button:hover {
        animation: pulseRed 0.6s ease-in-out infinite alternate;
        transform: scale(1.05);
    }
    .services__item button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@keyframes pulseRed {
    0% {
        box-shadow: 0 0 8px rgba(255, 0, 0, 0.4), 0 0 4px rgba(255, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.6), 0 0 8px rgba(255, 0, 0, 0.4);
    }

    100% {
        box-shadow: 0 0 8px rgba(255, 0, 0, 0.4), 0 0 4px rgba(255, 0, 0, 0.2);
    }
}


/* Footer */
footer {
    background: black;
    text-align: center;
    padding: 20px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .footer__wrap div img {
        width: 90px;
        height: 90px;
    }

footer p {
    color: white;
}

.footer__links {
    display: flex;
    gap: 15px; 
}

    .footer__links a img {
        width: 50px; 
        height: 50px;
        transition: transform 0.3s, filter 0.3s; 
    }

    .footer__links a:hover img {
        transform: scale(1.5);
        filter: brightness(1.3); 
    }

